@import "base";
@import "skeleton";
@import "fontawesome";

@import "modules/mixins";
@import "modules/colors";
@import "modules/buttons";
@import "modules/fonts";
@import "modules/speakers";

@import "sections/landing";

@import "headervideo";

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    // font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #313140;
    background: url(/assets/images/2014/landing/white_wall_hash.png);
}

p{
    // font-size: 1.2em;
    margin-bottom: 1em;
}

// h1, h2, h3, h4 {
//     margin-bottom: 0.35em;
//     font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//     font-weight: 400;
// }

// h1{
//     font-size: 3em;
//     line-height: 1;
// }

// h2{
//     font-size: 2em;
//     margin-top: 1em;
// }
