@import "base";
@import "skeleton";
@import "fontawesome";

@import "modules/mixins";
@import "modules/colors";
@import "modules/buttons";
@import "modules/fonts";
@import "modules/speakers";

@import "sections/landing";

@import "headervideo";

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #313140;
    background: url(/assets/images/2014/landing/white_wall_hash.png);
}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  // body{
  //   background: yellow;
  // }

  .header-event{ bottom: 90px; }
  .header-event .header-place .header-date  { font-size: 48px; }
  .header-event .header-place .header-venue { font-size: 23px; }
  .header-event .header-button .btn.btn-blue{ font-size: 19px!important;}
  h1.sixteen.columns.alpha.omega { font-size: 42px; line-height: 50px; margin-bottom: 38px; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  // body{
  //   background: red;
  // }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  // body{
  //   background: blue;
  // }

  .header-event{ bottom: 30px; }
  .header-event .header-place .header-date  { font-size: 40px; }
  .header-event .header-place .header-venue { font-size: 20px; top: 30px;}
  .header-event .header-button .btn.btn-blue { font-size: 20px; margin-top: 25px; }
  .header-menu .container .three.columns {width:100px;}
  a.three.columns.alpha.logo-container {width:100px;}
  .header-menu .thirteen.columns.omega {width: 320px;float: left;margin-top: 35px;}
  div.header-button.five.columns.omega {text-align: right;}
  h1.sixteen.columns.alpha.omega { font-size: 32px; line-height: 36px; margin-bottom: 38px; }

  div.eleven.columns.omega a {display:block;text-align: center;}
  div.eleven.columns.omega a img{width: 250px}
  div.eleven.columns.omega p {text-align: center;margin-top: 20px;}
  div.eleven.columns.omega .made-with-love {text-align: center;}
  div.eleven.columns.omega .made-with-love a {display:inline;}

  section.anterior h1{margin-bottom: 40px;}
  section.anterior p{font-size: 18px;line-height:20px;margin-bottom:30px;width:90%;}
  section.anterior p strong{font-size: 19px;}

  footer {text-align: center; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  // body{
  //   background: green;
  // }

  .header-event{ top: -70px; }
  .header-event .header-place .header-date  { font-size: 20px; }
  .header-event .header-place .header-venue { font-size: 14px; top: 20px;}
  .header-event .header-button .btn.btn-blue { font-size: 20px; position:absolute;top: -9px;right: 5px; font-size:13px; font-weight: bold; padding: 1px 6px;}
  a.three.columns.alpha.logo-container {width:50px;}
  a.three.columns.alpha.logo-container img {width:100%;}
  ul.thirteen.columns.omega {width:240px;margin-top: 20px;}
  ul.thirteen.columns.omega li {margin-left: 20px;}
  h1.sixteen.columns.alpha.omega { font-size: 32px; line-height: 30px; margin-bottom: 38px; }
  div.eleven.columns.omega a {display:block;text-align: center;}
  div.eleven.columns.omega a img{width: 250px}
  div.eleven.columns.omega p {text-align: center;margin-top: 20px;}
  div.eleven.columns.omega .made-with-love {text-align: center;}
  div.eleven.columns.omega .made-with-love a {display:inline;}
  #claim{font-size: 22px;line-height: 24px;margin-bottom: 20px;}
  section.anterior h1{margin-bottom: 20px;}
  section.anterior p{font-size: 15px;line-height:17px;margin-bottom:15px;width:90%;}
  section.anterior p strong{font-size: 16px;}

  .header-menu ul li{margin: 0;}
  .header-menu ul li a {font-size: 10px;}
  footer {text-align: center; }
}
