header{
  position: relative;
    
  .header-menu{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    margin-top: 30px;

    .logo-container{
      float: left;
    }

    ul{
      float: right;
      margin: 0;
      padding: 0;
      text-align: right;

      li{
        display: inline-block;
        margin-left: 20px;

        a{
          // text-transform: uppercase;
          color: $color_blue;
          text-decoration: none;
          font-weight: bold;
          @include simple-animation(.18s);

          &:hover{
            color: $color_yellow;
          }

          &.active{
            color: $color_yellow!important;
            cursor: default; 
          }
        }
      }
    }
  }
}

.header-event{
  z-index:1000;
  position: absolute;
  // bottom: 180px;
  bottom: 130px;
  left: 40px;
  color: white;
  margin-bottom: 40px;

  .header-place{
    position: relative;

    .header-date{
      font-size: 70px;
      position: absolute;
      top: -10px;
      left: 0;
      color: $color_yellow;
      letter-spacing: -0.09em;
    }
    .header-divider{
      font-size: 90px;
      font-weight: 300;
      position: relative;
      top: 10px;
      left: 570px;
      color: transparent;
    }
    .header-venue{
      font-size: 28px;
      line-height: 26px;
      position: absolute;
      top: 44px;
      left: 25px;
      color: $color_yellow;
      letter-spacing: -1px;
    }
  }

  .header-button{
    img{
      @include simple-animation(.4s);
      @include opacity(1); 

      &:hover{
         
        @include opacity(.8);
      }  
    }
  }
}

#speaker-list{
    
  .speaker{

    position: relative;
    margin-bottom: 20px;
    overflow: hidden;

    $handle_size   : 50px;
    $handle_offset : 40px;

    .handle{
      width:  $handle_size;
      height: $handle_size;
      position: absolute;
      top: 30px;
      will-change: left right opacity;
      @include opacity(0);

      &.twitter{
        left:  $handle_offset;
        @include simple-animation(.2s);
      }

      &.linkedin{
        right: $handle_offset;
        @include simple-animation(.25s);
      }

      a{
        width:  $handle_size;
        height: $handle_size;
        display: block;
        border: 2px solid white;
        @include simple-animation(.6s);
        @include border-radius(50%);

        img{
          width: 100%;
          height: 100%;  
          @include border-radius(50%);
        }
      }
    }// .handle end

    &:hover{
      
      .handle{
        top: 20px;
        @include opacity(1);

        &.twitter{
          left: 5px;
        }
        
        &.linkedin{
          right: 5px;
        }  

        &:hover{
          a{
            border-color: darken($color_blue, 20%);  
          }
          
        }
      }
      
    }

    .speaker-info{
      margin-top: 16px;
      color: white;
      text-align: center;
      font-weight: 700;
      font-size:   20px;
      line-height: 21px;
      color: $color_yellow;

      img{
        margin-right: 7px;
      }

      p{
        margin-top:  15px;
        font-size:   14px;
        line-height: 15px;
        color: white;
        height: 45px;

        a{
          color: $color_yellow;
          text-decoration: none;

          &:hover{
            color: $color_green;
          }
        }
      }
    }

    img.avatar{
      width: 100%;
      height: auto;
      border: 10px solid;
      border-color: lighten($color_blue, 5%);
      will-change: border-color;
      @include simple-animation(.3s);
      @include border-radius(50%);

      &:hover{
        border-color: lighten($color_blue, 15%);
      }
    }
  }

}
// #speaker-list end


section{

  &.speaker-list{
    text-align: center;
    padding-top: 50px;

    h1{
      margin-bottom: 45px;
      color: white;
    }
  }
  // speaker-list end

  &.section-intro{
    margin-top: 35px;

    h1{
      margin-bottom: 30px;
      color: $color_blue;
      text-shadow: 1px 1px white;
    }

    h2{
      margin-bottom: 30px;
      text-shadow: 1px 1px white;
    }
  }

  &.organizers{
    
    text-align: center;

    h1{
      margin-top: 50px;
      margin-bottom: 70px;
      color: $color_green;
      text-shadow: 1px 1px white;
    }

    .organizer{
      margin-bottom: 40px; 
      
      img{
        cursor: pointer;
        
        width: 75%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 5px;
        
        @include opacity(1);
        @include border-radius(50%);
        @include simple-animation(.3s);

        &:hover{
          @include opacity(0.8);  
        }
      }

      h4{
        margin: 0;
        cursor: default;
        text-shadow: 1px 1px white;
      }

      a{
        text-decoration: none;
        color: $color_green;
        text-shadow: 1px 1px white;
        @include simple-animation(.2s);

        &:hover{
          color: $color_blue;
        }
      }
    }
  }

  &.speakers-description{
    color: white;
    padding-bottom: 30px;

    h3{
      color: white;
    }
  }

  &.speakers{

    text-align: center;

    h1{
      margin-top: 50px;
      margin-bottom: 40px;
      color: white;
    }

    h2{
      margin-bottom: 55px;
      color: white;
    }

    .btn{
      padding: 10px 18px 13px 18px;
      width: 230px;
      font-size: 26px;
      display: inline-block;
    }

    margin-bottom: 30px;
  }

  &.workshops{

    text-align: center;

    a{
      color: $color_blue;
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }

    h1{
      margin-top: 50px;
      margin-bottom: 40px;
      color: $color_blue;
    }

    h2{
      margin-bottom: 55px;
    }

    .eight.columns{
      margin-top: 20px;
      margin-bottom: 30px;
      
      h3{
        font-size: 27px;
        line-height: 30px;
        color: $color_blue;
      }

      .three.columns{
        text-align: center;
        position: relative;

        img{
          position: relative;
          top: -32px;
          width: 100%;
          height: auto;
        }
      }

      .five.columns{
        text-align: left;
      }

      .paragraph{

        ul, ol {
          list-style-type: disc;
          padding: 0;
          margin: 0 0 10px 25px;

          &.inline {
            margin-left: 0;
            list-style: none;

            a{
              margin-left: 8px;
            }
          }

          li{
            line-height: 20px;
          }

          ul{
            margin-bottom: 0;
            list-style-type: circle;
          }
        }

      }
      
      
    }

  }

  &.compra{

    text-align: center;

    h1{
      margin-top: 50px;
      margin-bottom: 40px;
      color: black;
    }

    h2{
      margin-bottom: 55px;
      color: black;
    }

    p{
      color: black;
      font-size: 16px;

      img{
        max-width: 100%;
      }
    }

    a{
      color: $color_green;
    }

    .eventbrite-button{
      display: block;
      margin-bottom: 50px;

      img{
        width: 50%;
        height: auto;
        @include simple-animation(.5s);
        @include opacity(.7);

        &:hover{
          @include opacity(1);  
        }
      }
    }

    margin-bottom: 30px;
  }

  &.anterior{
    text-align: center;

    $section_color : $color_yellow;

    h1{
      margin-top: 50px;
      margin-bottom: 60px;
      color: white;

      a{
        text-decoration: none;
        color: $section_color;
        position: relative;

        span{
          background: $section_color;
          color: black;
          display: inline-block;
          text-shadow: none;
          line-height: initial;
          font-size: 14px;
          font-weight: 700;
          padding: 2px 10px 3px 10px;
          position: absolute;
          top: 22px;
          right: -53px;
          will-change: all;
          @include border-radius(2px);
          @include simple-animation(.18s);
          @include opacity(0.8);

          &:hover{
            @include opacity(1);
          }
        }
      }
    }

    p{
      color: white;
      font-size: 22px;
      line-height: 24px;
      width: 85%;
      margin: 0 auto;
      margin-bottom: 30px;

      strong{
        color: $section_color;
        font-size: 24px;
      }
    }

    h3{
      color: $section_color;
      text-shadow: 1px 1px 2px 3px black;
      margin-bottom: 35px;
      font-weight: 700;
    }

    .btn{
      display: inline-block;
      padding: 10px 18px 13px 18px;
      font-size: 26px;
      width: 230px;
    }
  }

  &.sponsors{

    text-align: center;

    h1{
      margin-top: 70px;
      margin-bottom: 70px;
      color: $color_green;
      text-shadow: 1px 1px white;
    }

    h2{

      a{
        color: $color_blue;
        text-decoration: none;
        will-change: color;
        @include simple-animation(.18s);

        &:hover{
          color: $color_green;
        }
      }
    }

    .sponsor{

      a{
        display: block;
      }
      
      img{
        cursor: pointer;
        
        width: 100%;
        height: auto;
        margin: 0 auto;
        // margin-bottom: 5px;
        will-change: opacity;
        @include opacity(1);
        @include border-radius(2px);
        @include simple-animation(.3s);

        &:hover{
          @include opacity(0.5);  
        }
      }
    }

    .apoya{
      margin-bottom: 20px;

      a{
        display: block;
        cursor: pointer;
      }
      
      img{
        cursor: pointer;
        width: 100%;
        height: auto;
        margin: 0 auto;
        will-change: opacity;
        @include opacity(1);
        @include border-radius(3px);
        @include simple-animation(.3s);

        &:hover{
          @include opacity(0.5);  
        }
      }
    }
  }
}

.blue-wrapper   { background: $color_blue;        }
.green-wrapper  { background: $color_green;       }
.yellow-wrapper { background: $color_yellow;      }
.silver-wrapper { background: #eee;               }
.white-wrapper  { background: #fdfdfd;            }
.orange-wrapper { background: $eventbrite_color;  }

.wrapper-2013   { 
  background: url(/assets/images/2013.jpg) no-repeat; 
  height: 540px; 
  overflow: hidden;
  background-size: cover;

  .anterior{
    height: 540px;
  }
}

.footer-wrapper{
  border-top: 1px solid #eee;
  margin-top: 80px;
}

a.hostedby{
  text-decoration: none;
  display: block;
  margin-top: 37px;
  margin-right: 6px;

  p{
    margin: 0;
    margin-right: 1px!important;
  }

  img{}
}

a.code-of-conduct{
  text-decoration: none;
  display: inline-block;
  margin-top: 21px;
  margin-right: 6px;
  color: #3497db;
  font-weight: 300;
  font-size: 21px;
  line-height: 30px;
}

.made-with-love{
  margin-top: 9px;
  font-size: 12px;
  margin-right: 10px;
  text-align: right;
  color: #aaa;
  position: relative;

  a{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: $color_blue;
    @include simple-animation(.18s);

    &:hover{
      color: $color_green;
    }
  }

  .heart{
    color: #666;
    font-size: 16px;
    position: relative;
    top: 2px;
    left:0px;
  }
}

footer{
  margin-top: 1px;
  padding: 30px 0 25px 0;
  background: #fff;
  border-top:1px solid #ddd;
  color: white;

  h4{
    margin-bottom: 0px;
    color: $color_blue;
  }

  p{
    margin-bottom: 19px;

    a{
      text-decoration: none;
      @include simple-animation(.2s);

      &:hover{
        color: $color_green;
      }
    }
  }

  .nine.columns{
    text-align: right;

    p{
      margin-top: 10px;
      margin-right: 7px;
      color: #888;
      font-size: 15px;
      line-height: 17px;
    }
  }
}


.center{
  text-align: center;
  margin: 0 auto;
}

.container-with-margin{
  padding-bottom: 30px;
}

.social-icons{

  ul{
    margin: 0;
    padding: 0;

    li{
      display: inline-block;
      margin-right: 20px;
      
      a{
        text-decoration: none;
        display: block;
        color: #666;
        font-size: 11px;
        @include simple-animation(.2s);
        will-change: all;
        height: 20px;
        line-height: 16px;
        position: relative;
        @include opacity(.8);
        text-indent: 22px;

        i{
          font-size: 20px;  
          color: $color_blue;
          position: absolute;
          top: -1px;
          text-indent: 0px;
          display: block;
          @include simple-animation(.2s);
          will-change: all;
        }

        &:hover{
          @include opacity(1);
          color: $color_green;

          i{
            color: $color_green;
          }
          
        }
      }
    }
  }
}

#sponsors-pdf{
  display: block;
  margin: 45px 0 25px 0;
  @include flat-animation(.18s);
  @include opacity(1);
  will-change: opacity;

  &:hover{
    
    @include opacity(0.6);
  }

  img{
    width: 70%;
    height: auto;
  }
}


.sponsor-type{
  height:      20px;
  line-height: 20px;
  padding: 0 10px;
  color: white;
  font-size: 12px;
  margin-bottom: 30px; 
  text-transform: uppercase;
  @include border-radius(2px);

  &.sponsor-type-green{
    background: $color_green;
  }
  &.sponsor-type-blue{
    background: $color_blue;
  }
}

.fl{
  float: left;
}

.fr{
  float: right;
}
