header{
  position: relative;
    
  .header-menu{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    margin-top: 30px;

    .logo-container{
      float: left;
    }

    ul{
      float: right;
      margin: 0;
      padding: 0;
      text-align: right;

      li{
        display: inline-block;
        margin-left: 40px;

        a{
          // text-transform: uppercase;
          color: white;
          text-decoration: none;
          font-weight: bold;
          @include simple-animation(.18s);

          &:hover{
            // text-decoration: underline;
            color: $color_yellow;
          }
        }
      }
    }
  }
}

.header-event{
  z-index:1000;
  position: absolute;
  bottom: 80px;
  color: white;
  margin-bottom: 40px;

  .header-place{
    position: relative;

    .header-date{
      font-size: 60px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .header-divider{
      font-size: 90px;
      font-weight: 300;
      position: relative;
      top: 10px;
      left: 570px;
    }
    .header-venue{
      font-size: 28px;
      line-height: 26px;
      position: absolute;
      top: 44px;
      left: 25px;
    }
  }

  .header-button{
    text-align: left;
    margin-top: 5px;

    .btn{
      display: inline-block;
      padding: 10px 18px 13px 18px;
      font-size: 26px;
    }
  }
}


section{
  &.section-intro{
    margin-top: 35px;

    h1{
      margin-bottom: 35px;
      color: $color_blue;
      text-shadow: 1px 1px white;
    }

    h2{
      margin-bottom: 30px;
      text-shadow: 1px 1px white;
    }
  }

  &.organizers{
    
    text-align: center;

    h1{
      margin-top: 50px;
      margin-bottom: 70px;
      color: $color_green;
      text-shadow: 1px 1px white;
    }

    .organizer{
      margin-bottom: 40px;      
      
      img{
        cursor: pointer;
        margin-bottom: 5px;
        
        @include opacity(1);
        @include border-radius(50%);
        @include simple-animation(.3s);

        &:hover{
          @include opacity(0.8);  
        }
      }

      h4{
        margin: 0;
        cursor: default;
        text-shadow: 1px 1px white;
      }

      a{
        text-decoration: none;
        color: $color_green;
        text-shadow: 1px 1px white;
        @include simple-animation(.2s);

        &:hover{
          color: $color_blue;
        }
      }
    }
  }
}

.blue-wrapper   { background: $color_blue;   }
.green-wrapper  { background: $color_green;  }
.yellow-wrapper { background: $color_yellow; }
.silver-wrapper { background: #eee;          }

.footer-wrapper{
  border-top: 1px solid #eee;
  margin-top: 80px;
}

.made-with-love{
  margin-top: 100px;
  font-size: 12px;
  margin-right: 10px;
  text-align: right;
  color: #aaa;
  position: relative;

  a{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: $color_blue;
    @include simple-animation(.18s);

    &:hover{
      color: $color_green;
    }
  }

  .heart{
    color: #666;
    font-size: 16px;
    position: relative;
    top: 2px;
    left:0px;
  }
}

footer{
  margin-top: 1px;
  padding: 30px 0 50px 0;
  background: #fff;
  border-top:1px solid #ddd;
  color: white;

  h4{
    margin-bottom: 0px;
    color: $color_blue;
  }

  p{
    margin-bottom: 20px;

    a{
      text-decoration: none;
      @include simple-animation(.2s);

      &:hover{
        color: $color_green;
      }
    }
  }

  .eleven.columns{
    text-align: right;

    p{
      margin-top: 10px;
      margin-right: 7px;
      color: #888;
      font-size: 15px;
      line-height: 17px;
    }
  }
}
