header{
  position: relative;
    
  .header-menu{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    margin-top: 30px;

    .logo-container{
      float: left;
    }

    ul{
      float: right;
      margin: 0;
      padding: 0;
      text-align: right;

      li{
        display: inline-block;
        margin-left: 20px;

        a{
          // text-transform: uppercase;
          color: $color_blue;
          text-decoration: none;
          font-weight: bold;
          @include simple-animation(.18s);

          &:hover{
            color: $color_yellow;
          }

          &.active{
            color: $color_yellow!important;
            cursor: default; 
          }
        }
      }
    }
  }
}

.header-event{
  z-index:1000;
  position: absolute;
  bottom: 180px;
  color: white;
  margin-bottom: 40px;

  .header-place{
    position: relative;

    .header-date{
      font-size: 70px;
      position: absolute;
      top: -10px;
      left: 0;
      color: $color_yellow;
      // text-shadow: 1px 1px #777;
    }
    .header-divider{
      font-size: 90px;
      font-weight: 300;
      position: relative;
      top: 10px;
      left: 570px;
      color: transparent;
    }
    .header-venue{
      font-size: 28px;
      line-height: 26px;
      position: absolute;
      top: 44px;
      left: 25px;
      color: $color_yellow;
      // text-shadow: 1px 1px black;
    }
  }

  .header-button{
    text-align: left;
    margin-top: 5px;

    .btn{
      display: inline-block;
      padding: 10px 18px 13px 18px;
      font-size: 26px;
    }
  }
}


section{
  &.section-intro{
    margin-top: 35px;

    h1{
      margin-bottom: 30px;
      color: $color_blue;
      text-shadow: 1px 1px white;
    }

    h2{
      margin-bottom: 30px;
      text-shadow: 1px 1px white;
    }
  }

  &.organizers{
    
    text-align: center;

    h1{
      margin-top: 50px;
      margin-bottom: 70px;
      color: $color_green;
      text-shadow: 1px 1px white;
    }

    .organizer{
      margin-bottom: 40px; 
      margin-right: 15px;     
      
      img{
        cursor: pointer;
        
        width: 90%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 5px;
        
        @include opacity(1);
        @include border-radius(50%);
        @include simple-animation(.3s);

        &:hover{
          @include opacity(0.8);  
        }
      }

      h4{
        margin: 0;
        cursor: default;
        text-shadow: 1px 1px white;
      }

      a{
        text-decoration: none;
        color: $color_green;
        text-shadow: 1px 1px white;
        @include simple-animation(.2s);

        &:hover{
          color: $color_blue;
        }
      }
    }
  }

  &.speakers{

    text-align: center;

    h1{
      margin-top: 50px;
      margin-bottom: 40px;
      color: white;
    }

    h2{
      margin-bottom: 55px;
      color: white;
    }

    .btn{
      padding: 10px 18px 13px 18px;
      width: 230px;
      font-size: 26px;
      display: inline-block;
    }

    margin-bottom: 30px;
  }

  &.anterior{
    text-align: center;

    $section_color : $color_yellow;

    h1{
      margin-top: 50px;
      margin-bottom: 60px;
      color: white;

      a{
        text-decoration: none;
        color: $section_color;
        position: relative;

        span{
          background: $section_color;
          color: black;
          display: inline-block;
          text-shadow: none;
          line-height: initial;
          font-size: 14px;
          font-weight: 700;
          padding: 2px 10px 3px 10px;
          position: absolute;
          top: 22px;
          right: -53px;
          will-change: all;
          @include border-radius(2px);
          @include simple-animation(.18s);
          @include opacity(0.8);

          &:hover{
            @include opacity(1);
          }
        }
      }
    }

    p{
      color: white;
      font-size: 22px;
      line-height: 24px;
      width: 85%;
      margin: 0 auto;
      margin-bottom: 30px;

      strong{
        color: $section_color;
        font-size: 24px;
      }
    }

    h3{
      color: $section_color;
      text-shadow: 1px 1px 2px 3px black;
      margin-bottom: 35px;
      font-weight: 700;
    }

    .btn{
      display: inline-block;
      padding: 10px 18px 13px 18px;
      font-size: 26px;
      width: 230px;
    }
  }

  &.sponsors{

    text-align: center;

    h1{
      margin-top: 50px;
      margin-bottom: 70px;
      color: $color_green;
      text-shadow: 1px 1px white;
    }

    h2{

      a{
        color: $color_blue;
        text-decoration: none;
        will-change: color;
        @include simple-animation(.18s);

        &:hover{
          color: $color_green;
        }
      }
    }

    .sponsor{
      margin-bottom: 40px; 
      margin-right: 15px;  
      
      img{
        cursor: pointer;
        
        width: 100%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 5px;
        will-change: opacity;
        @include opacity(1);
        @include border-radius(3px);
        @include simple-animation(.3s);

        &:hover{
          @include opacity(0.5);  
        }
      }
    }
  }
}

.blue-wrapper   { background: $color_blue;   }
.green-wrapper  { background: $color_green;  }
.yellow-wrapper { background: $color_yellow; }
.silver-wrapper { background: #eee;          }
.white-wrapper  { background: white;         }
.wrapper-2013   { 
  background: red url(/assets/images/2013.jpg) no-repeat; 
  height: 540px; 
  overflow: hidden;
  background-size: cover;

  .anterior{
    height: 540px;
  }
}

.footer-wrapper{
  border-top: 1px solid #eee;
  margin-top: 80px;
}

.made-with-love{
  margin-top: 100px;
  font-size: 12px;
  margin-right: 10px;
  text-align: right;
  color: #aaa;
  position: relative;

  a{
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: $color_blue;
    @include simple-animation(.18s);

    &:hover{
      color: $color_green;
    }
  }

  .heart{
    color: #666;
    font-size: 16px;
    position: relative;
    top: 2px;
    left:0px;
  }
}

footer{
  margin-top: 1px;
  padding: 30px 0 50px 0;
  background: #fff;
  border-top:1px solid #ddd;
  color: white;

  h4{
    margin-bottom: 0px;
    color: $color_blue;
  }

  p{
    margin-bottom: 19px;

    a{
      text-decoration: none;
      @include simple-animation(.2s);

      &:hover{
        color: $color_green;
      }
    }
  }

  .nine.columns{
    text-align: right;

    p{
      margin-top: 10px;
      margin-right: 7px;
      color: #888;
      font-size: 15px;
      line-height: 17px;
    }
  }
}


.center{
  text-align: center;
  margin: 0 auto;
}

.container-with-margin{
  margin-bottom: 30px;
}

.social-icons{

  ul{
    margin: 0;
    padding: 0;

    li{
      display: inline-block;
      margin-right: 20px;
      
      a{
        text-decoration: none;
        display: block;
        color: #666;
        font-size: 11px;
        @include simple-animation(.2s);
        will-change: all;
        height: 20px;
        line-height: 16px;
        position: relative;
        @include opacity(.8);
        text-indent: 22px;

        i{
          font-size: 20px;  
          color: $color_blue;
          position: absolute;
          top: -1px;
          text-indent: 0px;
          display: block;
          @include simple-animation(.2s);
          will-change: all;
        }

        &:hover{
          @include opacity(1);
          color: $color_green;

          i{
            color: $color_green;
          }
          
        }
      }
    }
  }
}