.btn{
    border: 1px solid white;
    text-align: center;
    padding: 5px 20px 7px 20px;
    text-decoration: none;
    color: white;
    @include opacity(1);
    @include simple-animation(.18s);
    @include border-radius(3px);

    &:hover{
      @include opacity(0.8);
    }

    &.btn-yellow{
        color: $color_yellow!important;
        border: 1px solid $color_yellow;

        &:hover{
          background: $color_yellow;
          color: #333!important;
        }
    }

    &.btn-yellow-inverse{
        border: 1px solid $color_yellow;
        background: $color_yellow;
        color: #333!important;

        &:hover{
          border: 1px solid #333;
          background: #333!important;
          color: $color_yellow!important;
        }
    }

    &.btn-white{
        color: white!important;
        border: 1px solid white;

        &:hover{
          background: white;
          color: #333!important;
        }
    }

    &.btn-blue{
        color: $color_blue;
        border: 1px solid $color_blue;
        &:hover{
          background: $color_blue;
          color: white;
        }
    }

    &.btn-green{
        color: $color_green!important;
        border: 1px solid $color_green;

        &:hover{
          background: $color_green;
          color: #333!important;
        }
    }
    
    &.btn-extra{
        font-size: 30px;
        padding: 20px 20px 24px 20px;
    }
}
