$color_blue     : #3497DB;
$color_yellow   : #F4C42C;
$color_green    : #2ECC71;
$color_black    : #333;

.color-blue   { color: $color_blue!important;   }
.color-yellow { color: $color_yellow!important; }
.color-green  { color: $color_green!important;  }

$eventbrite_color : darken(#ef6226, 5%);
