.speaker{

  &.speaker2013{
    .avatar{
      text-align: center;

      // a{
      //   display: block;
      //   text-decoration: none;
      // }

      img{
        width: 150px;
        height: auto;
        border: 5px solid white;
        margin-bottom: 20px;
        @include border-radius(50%);
      }

      
    } 

    .content{
      color: white;

      .social{
        margin-bottom: 20px;
        padding-bottom: 10px;

        li{
          display: inline-block;
          width: 30px;
          height: 20px;
          line-height: 20px;
          font-size: 18px;
          margin: initial;
          
          a{
            display: block;
            width: 20px;
            height: 20px;
          }

          i{
            color: white;
            font-family: FontAwesome;
          }
        }
      }

      a.content-name{
        color: white;
        font-size: 30px;
        text-decoration: none;
        display: block;
        margin-bottom: 10px;
        @include simple-animation(.2s);

        &:hover{
          color: #181818;
        }
      }

      h2{
        color: white;
      }

      h4{
        
        a{
          text-decoration: none;
          color: white;
          @include simple-animation(.2s);

          &:hover{
            color: $color_yellow;
          }
        }
      }

    }
  }
}

.speakers-container{
  padding-top: 30px;
  margin-top:  20px;

  h1{
    text-align: center;
    color: white;
  }
}
