<header>

    <div class="container">
        <div class="header-menu sixteen columns clearfix">
            <a href="#/" class="three columns alpha logo-container">
                <img src="assets/images/2014/landing/logo.png" alt="">
            </a>
            <ul class="thirteen columns omega">
                <li><a href="#/">v2014</a></li>
                <li><a href="#2013" class="active">v2013</a></li>
                <li><a href="#2012">v2012</a></li>
            </ul>
        </div>
    </div>

    <div class="header-video header-video-internal">
    
        <img src="assets/images/2013/header.jpg">
                    
    </div>

</header>







	

<div class="container">
    <div class="sixteen columns">
        <section class="section-intro">
            <h1 style="margin-bottom:20px;text-align:center;">23 de Noviembre 2013</h1>
        </section>
    </div>
    
</div><!-- container -->


<div class="blue-wrapper speakers-container">

	<div class="container">

		<h1>speakers</h1>

		<br>

		<div class="sixteen columns">
			
			<div class="speaker speaker2013 clearfix">
				<div class="avatar four columns alpha">
					<img class="img-circle" src="assets/images/2013/speakers/mpagella.png" alt="Andrés Pagella">

					

				</div>
				<div class="content twelve columns omega">
					
					<h2>Andrés Pagella</h2>
					<h4><a href="http://www.slideshare.net/fokker1/resolviendo-problemas-imposibles" target="_blank">— Resolviendo problemas imposibles</a></h4>
					
					<p>Muchas veces en nuestra profesión se nos pide solucionar problemas con pocos recursos, en extremadamente poco tiempo y se espera que presentemos soluciones brillantes que no sólo funcionen, sino que también dejen impresionados tanto a jefes como a nuestros clientes y/o usuarios. En esta colección de anécdotas, tanto propias como ajenas, discutiremos que muchas veces llegar a la conclusión de que un problema es imposible de resolver, es que se ha intentado resolver el problema equivocado.</p>
					
					<ul class="social clearfix">
						<li><a target="_blank" href="http://twitter.com/mapagella"><i class="fa fa-twitter"></i></a></li>
						<li><a target="_blank" href="https://github.com/andrespagella"><i class="fa fa-github"></i></a></li>
						<li><a target="_blank" href="http://www.linkedin.com/in/pagella"><i class="fa fa-linkedin"></i></a></li>
						<li><a target="_blank" href="http://www.andrespagella.com/"><i class="fa fa-home"></i></a></li>
						<li><a target="_blank" href="http://www.slideshare.net/fokker1/resolviendo-problemas-imposibles"><i class="fa fa-file-text"></i></a></li>
						<li><a target="_blank" href="http://www.youtube.com/watch?v=YFheBztojZA&amp;list=PLgJwmkWpD_oOBH0PRudIDlaO3FL2Y88Je&amp;index=9"><i class="fa fa-youtube-play"></i></a></li>
					</ul>
				</div>
			</div>



			<p style="margin-top:300px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, magnam, numquam, et hic odit rem quod voluptates ducimus cum reiciendis sunt nulla tempora dignissimos laborum nisi ea enim laboriosam vitae.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, magnam, numquam, et hic odit rem quod voluptates ducimus cum reiciendis sunt nulla tempora dignissimos laborum nisi ea enim laboriosam vitae.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, magnam, numquam, et hic odit rem quod voluptates ducimus cum reiciendis sunt nulla tempora dignissimos laborum nisi ea enim laboriosam vitae.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, magnam, numquam, et hic odit rem quod voluptates ducimus cum reiciendis sunt nulla tempora dignissimos laborum nisi ea enim laboriosam vitae.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, magnam, numquam, et hic odit rem quod voluptates ducimus cum reiciendis sunt nulla tempora dignissimos laborum nisi ea enim laboriosam vitae.</p>


		</div>

	</div>

</div>
